# DICTIONARY
- a dictionary is a built-in data structure used to store data values in key:value pairs. It is a collection that is ordered (as of Python 3.7+), changeable, and does not allow duplicate keys.
- key is like rollno, value is like student name

In [3]:
# Creating a dictionary
student = {
    "name": "Bijata",
    "age" : 30,
    "major": "finance"
}
print(student)

{'name': 'Bijata', 'age': 30, 'major': 'finance'}

In [5]:
# Accessing values
print(student["name"])

Bijata

In [6]:
print(student["age"])

30

In [7]:
# Adding a new key-value pair, mutable, value can be changed or added
student ["gpa"] = 3.83
print(student)

{'name': 'Bijata', 'age': 30, 'major': 'finance', 'gpa': 3.83}

In [8]:
# Modifying a value
student ["age"] = 29
print(student)

{'name': 'Bijata', 'age': 29, 'major': 'finance', 'gpa': 3.83}

In [9]:
student.keys()

dict_keys(['name', 'age', 'major', 'gpa'])

In [12]:
student.values()

dict_values(['Bijata', 29, 'finance', 3.83])

In [13]:
# Removing a key-value pair
del student ["major"]
print(student)

{'name': 'Bijata', 'age': 29, 'gpa': 3.83}

In [17]:
# In Python 3.7+, iterating will always follow insertion order
for key, value in student.items():
    print(f"{key}: {value}")

name: Bijata
age: 29
gpa: 3.83

In [22]:
for key, value in student.items():
    print(f"{key}: {value}")

name: Bijata
age: 29
gpa: 3.83

In [23]:
del student ['gpa']

In [24]:
student

{'name': 'Bijata', 'age': 29}