# SET
- A Python set is a built-in data structure that represents an unordered collection of unique elements.
- While the individual elements within a set must be immutable (e.g., numbers, strings, tuples), the set itself is mutable, meaning you can add or remove elements after its creation.
- Adding Elements: add() method for a single element, update() method for multiple elements from an iterable.
- Removing Elements: remove() (raises an error if the element is not found), discard() (does not raise an error), pop() (removes and returns an arbitrary element), clear() (removes all elements).
- Union: union() or | operator.
- Intersection: intersection() or & operator.
- Difference: difference() or - operator.
- Symmetric Difference: symmetric_difference() or ^ operator.
- Membership Testing: in operator (e.g., element in my_set).

In [22]:
# Creating a set using curly braces
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [23]:
type(set1)

set

In [24]:
# Creating a set from a list using the set() constructor
set2 = set([7, 6, 8, 9, 10, 6 , 7 ,12])
set2    # removes duplicates and sort data

{6, 7, 8, 9, 10, 12}

In [25]:
teamA = {'India','Bangladesh','Pakistan','USA'}
teamB = {'India', 'France','Bangladesh','UK', 'Sri Lanka', 'India'}

In [26]:
teamA

{'Bangladesh', 'India', 'Pakistan', 'USA'}

In [27]:
teamB # removes duplicates and sort data

{'Bangladesh', 'France', 'India', 'Sri Lanka', 'UK'}

In [28]:
teamA - teamB

{'Pakistan', 'USA'}

In [29]:
teamA.add("Nepal")

In [30]:
teamA

{'Bangladesh', 'India', 'Nepal', 'Pakistan', 'USA'}

In [31]:
teamA.remove("Bangladesh")

In [32]:
teamA

{'India', 'Nepal', 'Pakistan', 'USA'}

# Union

In [33]:
print(teamA.union(teamB), '\t')

{'UK', 'USA', 'India', 'Pakistan', 'France', 'Nepal', 'Bangladesh', 'Sri Lanka'}

In [35]:
print(teamA.union(teamB), '\n')

{'UK', 'USA', 'India', 'Pakistan', 'France', 'Nepal', 'Bangladesh', 'Sri Lanka'}

In [37]:
print(teamA | teamB )

{'UK', 'USA', 'India', 'Pakistan', 'France', 'Nepal', 'Bangladesh', 'Sri Lanka'}

# Intersection

In [40]:
print(teamA.intersection(teamB) , '\t')

{'India'}

In [39]:
print (teamA & teamB)

{'India'}

In [41]:
print(teamB - teamA)

{'Bangladesh', 'France', 'Sri Lanka', 'UK'}

# Symmetric Difference

In [43]:
print(teamA ^ teamB)

{'USA', 'Pakistan', 'UK', 'Nepal', 'Bangladesh', 'Sri Lanka', 'France'}

In [44]:
print(teamB ^ teamA)

{'UK', 'USA', 'Pakistan', 'France', 'Nepal', 'Bangladesh', 'Sri Lanka'}

In [45]:
print(teamB.symmetric_difference(teamA))

{'UK', 'USA', 'Pakistan', 'France', 'Nepal', 'Bangladesh', 'Sri Lanka'}

In [49]:
print('A- ', teamA, '    B- ', teamB)

A-  {'USA', 'India', 'Pakistan', 'Nepal'}     B-  {'UK', 'Bangladesh', 'India', 'Sri Lanka', 'France'}

In [47]:
print('A- ', teamA, '\nB- ', teamB)

A-  {'USA', 'India', 'Pakistan', 'Nepal'}
B-  {'UK', 'Bangladesh', 'India', 'Sri Lanka', 'France'}

In [48]:
print('A- ', teamA, '\tB- ', teamB)

A-  {'USA', 'India', 'Pakistan', 'Nepal'} 	B-  {'UK', 'Bangladesh', 'India', 'Sri Lanka', 'France'}

# Membership Testing

In [50]:
teamA in teamB

False

In [52]:
'India' in teamA

True

In [53]:
teamA[1] # cannot retrieve values by index(position) , unordered

TypeError: 'set' object is not subscriptable

In [54]:
# check for numbers or mixed

In [55]:
mixedset = {'India', 1947, True, 'India'}
print(mixedset)

{True, 'India', 1947}

In [56]:
type(mixedset)

set

In [57]:
t1 = ('India','UK', 'USA', 'Bangladesh')
t1

('India', 'UK', 'USA', 'Bangladesh')

In [59]:
t1 in teamA

False

In [61]:
type(t1)

tuple

In [62]:
teamA | t1 # tuple and set cannot be mixed

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [64]:
for i in t1:
    print(i)

India
UK
USA
Bangladesh

In [65]:
for i in t1:
    print(i, i in teamA )

India True
UK False
USA True
Bangladesh False

In [67]:
# for eg
1 in [1, 2, 3]

True

In [69]:
'apple' in ("orange", "apple",1 , 502)

True