# TUPLE

- A tuple in Python is an ordered collection of items, similar to a list, but with a key distinction: immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed
- IMMUTABLE (elements cannot be change)
- ordered
- duplicates
- heterogenous (accepts multiple data types - no, text, logical)
- created by ( ) round brackets
- Tuples in Python are immutable, which means their elements cannot be changed, added, or removed after the tuple has been created. This immutability is a fundamental characteristic that distinguishes them from lists

In [16]:
# Empty tuple
my_tuple = ()

In [17]:
type(my_tuple)

tuple

In [18]:
# Tuple with multiple items
fruits = ('Apple', 'Banana', "Orange")

In [19]:
fruits

('Apple', 'Banana', 'Orange')

In [20]:
fruits = ('Apple', 'Banana', "Orange", "Apple")

In [21]:
fruits

('Apple', 'Banana', 'Orange', 'Apple')

In [32]:
len(fruits)

4

In [23]:
# A tuple with strings, integers and float/boolean values:
tuple1 = ("man", 1.1, True, 200)

In [24]:
tuple1

('man', 1.1, True, 200)

In [25]:
tuple1[3]

200

In [26]:
tuple1[0]

'man'

In [27]:
# Tuple with mixed and duplicate data types
mixed_tuple = (1, "hello", 3.14, True,1)

In [28]:
mixed_tuple

(1, 'hello', 3.14, True, 1)

In [29]:
# single item tuple (# note comma)
single_item_tuple = ("cheery",)

In [30]:
single_item_tuple

('cheery',)

In [34]:
mixed_tuple [1] = "Hi" # error - immutable, ie values in the tuple cannot be changed

TypeError: 'tuple' object does not support item assignment

In [ ]:
mixed_tuple = (1, "hello", 'Everest', 'Lopche', 3.14, True,1) #cannot change any individual element of the tuple can be added

In [42]:
print(mixed_tuple)

(1, 'hello', 'Everest', 'Lopche', 3.14, True, 1)

In [41]:
mixed_tuple

(1, 'hello', 'Everest', 'Lopche', 3.14, True, 1)

In [52]:
mixed_tuple.count(True) # 1=3 count coz true is also 1

3

In [53]:
print(dir(tuple),'\t ')  #function available for tuple ds

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [54]:
methods = [method for method in dir(tuple) if callable(getattr(tuple, method)) and not method.startswith('__')]
print(methods)

['count', 'index']

In [55]:
max(mixed_tuple)   #error due to mixed types

TypeError: '>' not supported between instances of 'str' and 'int'

In [56]:
tuple2 = (3 , 2 , 7 ,10)
print(tuple2)

(3, 2, 7, 10)

In [57]:
len(tuple2)

4

In [60]:
tuple2.index(10) #knowing the position of element 10

3

In [65]:
tuple2.count(7) # how many times 7 is in the tuple

1

In [67]:
tuple2[2]

7

In [68]:
max(tuple2)

10

In [69]:
min(tuple2)

2