# PRINT function
- https://docs.python.org/3/library/functions.html#print
- print(*objects, sep=' ', end='\n', file=None, flush=False)
- Print objects to the text stream file, separated by sep and followed by end. sep, end, file, and flush, if present, must   be given as keyword arguments.
- All non-keyword arguments are converted to strings like str() does and written to the stream, separated by sep and      followed by end. Both sep and end must be strings; they can also be None, which means to use the default values. If no   objects are given, print() will just write end.

In [16]:
print ("Hello Friend")

Hello Friend

## Seperator

- sep - The sep argument defines what to print between multiple values.

In [7]:
print("Light" , "Camera" , "Action" , 30  , sep = " , ")

Light , Camera , Action , 30

## End of Line Character, can be markup also

- end argument controls what comes after the print statement (default is \n â€” newline).

In [10]:
print("Light" , "Camera" , "Action" , sep = " , " , end = '........')

Light , Camera , Action........

In [15]:
print( "Light" , "Camera" , "Action" , sep = " , " , end = ' **** ')

Light , Camera , Action ****

In [33]:
print ("Hello Friend" , end = '\n') # default behavior 

print ("How are you")

Hello Friend
How are you

In [26]:
print ("Hello" ,  "Friend!" ,sep = " - " , end = ' ')
print ("How are you")

Hello - Friend! How are you

In [31]:
print ("Hello" ,  "Friend!" , end = ' \t') # t defines tab before next line
print ("How","are", "you" , sep = " - " )

Hello Friend! 	How - are - you

## Formatted (f) strings
- f

In [37]:
name = "Bijata"
age = 30
sex = "Female"
print(name , age , sex , sep = " - ")

Bijata - 30 - Female

In [41]:
print(name, 'is' , age , "years old and she is" ,sex , ".")

Bijata is 30 years old and she is Female .

In [46]:
rank = "1st"

In [47]:
print(f"{name} is {age} years old and she is {rank} {sex} child.")

Bijata is 30 years old and she is 1st Female child.

In [49]:
name , score = 'Newson' , 95 
print(f" name of student is {name} and he scored {score} in math.")

 name of student is Newson and he scored 95 in math.

# Format Command
- Old Command

In [50]:
print("name: {}, score: {}".format("Newson" , 95))

name: Newson, score: 95

In [51]:
print("Name: {}, age: {}".format ("Jasmine", 28))

Name: Jasmine, age: 28

## Printing List or Ranges