# Python - Creating Own Data

create data inside python - list, dictionary, distribution etc
upload data from laptop - csv, excel, email attachment , etc
import data from web - git, kaggle, url etc

In [1]:
import pandas as pd
import numpy as np
import random # create random values

## structure gets change by use of brackets and the combination
- list [ ]
- tuple ()
- set { }

# Step-1 : Setup

In [2]:
- Create data using various Python structures
- 20 students - rollno, sname, gender, course, scores, age

SyntaxError: invalid syntax (771657026.py, line 1)

In [ ]:
#List - rollno
rollno = list(range(1,21))  # 20 students; 1 to 21-1
print(type(rollno),rollno)

In [ ]:
# Names - (tuple) - immutable, cannot change
sname = ("Alice", "Bob", "Charlie", "Diana", "Ethan",  "Fiona", "George", "Hannah", "Ian", "Jasmine",\
        "Kevin", "Lily", "Mike", "Nina", "Oscar",  "Priya", "Quinn", "Raj", "Sophia", "Tom")
print(type(sname),sname)

In [ ]:
#gender- set {unique}
genders_set ={"Male", "Female", 'Male', 'Female'}
gender = [random.choice(list(genders_set)) for _ in rollno] #create gender values- as size of rollno
print(gender)

In [ ]:
print('Males- ',gender.count("Male"), 'Females- ', gender.count("Female"))

In [ ]:
random.randint(1,4) # random no between 1 and 4 incl and its output change every time run the cell

In [ ]:
# Course - dictionary : {key:value} pair
courses_dict = {1: "CS", 2: "IT", 3: "AI", 4: "DS"} # mapping
course =[courses_dict[random.randint(1,4)] for _ in rollno]
print(list(course))

In [ ]:
courses_set ={"CS", "IT", 'AI', 'DS'} # can use any random function as of cell above to this cell
course = [random.choice(list(courses_set)) for _ in rollno]
print(list(course))

In [ ]:
x = np.random.normal(loc= 50, scale =2 , size =5)
print(x)

In [ ]:
np.random.normal(70, 10 , len (rollno)) # import from numpy libray of normal distribution where mean value is 70 , and std. dev
                                          #is 10 ie result will be  +/-10 of mean 70  of 20students(len of rollno)

In [ ]:
np.clip(np.random.normal(70, 10 ,len (rollno)), 60,80) #limits values between 60-80
#https://numpy.org/devdocs/reference/generated/numpy.clip.html

In [ ]:
a = np.arange(10)
print(a) #array [0 1 2 3 4 5 6 7 8 9]
np.clip(a,3,8)

In [ ]:
# Scores - random normal
# Normally distributed around mean=70, std=10, clipped to 40â€“100
#score = np.clip(np.random.normal(70, 10, len(rollno)), 45, 95).round(1)
score = np.random.normal(70, 15, len(rollno))
print(score, ':::', np.mean(score),':::', np.std(score))
# or

In [ ]:
score = np.clip(score, 60,90)
print (score)

In [ ]:
score = np.clip(np.random.normal(50,15, len (rollno)), 40,60)
print(score)

In [ ]:
# Age is integer
age = np.random.randint(19 , 31 , size=len(rollno))
age

#?np.random.randint

In [ ]:
print(rollno, '\n', sname,'\n', gender, '\n', course, '\n', score,'\n', age) #create columns of Data Frame

## Step - 2 : Data Frame
- rows and columns
- Columns - variable names, Rows- data for each student
- Join Columns to Data Frame
- 20 Students Data
- Dictionary : key:value
- pd.DataFrame({ 'key1':values1, 'key2';values}

In [ ]:
df = pd.DataFrame({  "rollno": rollno,  "sname": sname,  "gender": gender, "course": course,  "score": score, "age": age})
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.shape

## Larger DF
- install faker for snames : pip install faker
- https://pypi.org/project/Faker/

In [ ]:
#pip install faker

In [ ]:
import pandas as pd
import numpy as np
import random
from faker import Faker

In [ ]:
n = 1001
fake = Faker()
fake

In [ ]:
print(fake.name())
print(fake.address())
print(fake.email())
print(fake.date_of_birth())

In [ ]:
print(tuple(fake.name()for _ in rollno[0:20]))

In [ ]:
n = 1001
rollno = list(range(1,n))
sname = tuple(fake.name() for _ in rollno)
gender_set = {"Male","Female"}
gender = [random.choice(list(gender_set)) for _ in rollno]
course_dict = {1:"CS", 2:"IT", 3:"AS", 4:"DS"}
course = [course_dict[random.randint(1,4)] for _ in rollno]
score = np.clip(np.random.normal(70,10, len(rollno)), 40,100).round(1) #round vaule ie22.23 = 22.2
age = np.random.randint(18,30, size=len(rollno))

In [ ]:
df2 = pd.DataFrame({ 'rollno': rollno , 'sname': sname , 'gender': gender ,'course': course , 'score': score , 'age': age})
df2.head()

In [ ]:
df2.tail()

In [ ]:
df2.shape

In [ ]:
df2.info()

In [ ]:
df2.to_csv('../../data/student17082025.csv',index=False)
#df2.to_csv('C:/analytics/data/student160825.csv', index=False)
# the folder and file should be correct

In [4]:
df2.to_excel('../../data/students17082025.xlsx',encoding='utf-8', errors='ignore',index=False) #error occur (UTF 8 encoded)

NameError: name 'df2' is not defined

## Own Data
- Synthetic
- Simulate
- Same value

## Data from CSV
## file in laptop
- download from : https://catalog.data.gov/dataset/real-estate-sales-2001-2018 (125 MB)
 - listing of all real estate sales with a sales price of $2,000 or greater that occur between October 1 and September 30 of each year. For each sale record, the file includes: town, property address, date of sale, property type (residential, apartment, commercial, industrial or vacant land), sales price, and property assessment.
- IMF : https://data.imf.org/en/datasets/IMF.STA:QGDP_WCA (187 KB)
 - This dataset provides a snapshot of the economic activity of the world and selected country aggregates on a quarterly basis. It offers quarterly measurements of Gross Domestic Product (GDP). Quarterly estimates are disseminated on a seasonally adjusted basis.
- Country and capitals; https://ec.europa.eu/eurostat/statistics-explained/images/9/9f/Country_Codes_and_Names.xlsx (XL)
- max size of excel the maximum number of rows is 1,048,576 and the maximum number of columns is 16,384 (XFD)